
.choose-button {
    -fx-background-color: #497075;
    -fx-pref-height: 35;
    -fx-background-radius: 0px;
}
.choose-button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.01px;
    -fx-scale-y: 1.05px;
}

.compile-button, .close-button {
    -fx-background-color: #497075;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}
.compile-button:hover, .close-button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.02px;
    -fx-scale-y: 1.05px;
}

.fontname-textfield {
    -fx-background-color: #497075;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
}

.label-font-combobox {
    -fx-background-color: #497075;
    -fx-text-fill: white;
}
.label-font-combobox .arrow {
    -fx-background-color: white;
}
.label-font-combobox .list-cell {
    -fx-background-color: #497075;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-pref-height: 35px;
}
.label-font-combobox .list-cell:hover {
    -fx-background-color: #314e52;
}